# Скомпилированные бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib
main
task-1

# Тестовые файлы
*.test
*.out

# Папка сборки
bin/
build/

# Зависимости 
vendor/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Локальные настройки
.env